[submodule "slides/themes/reveal-hugo"]
	path = slides/themes/reveal-hugo
	url = git@github.com:dzello/reveal-hugo.git
[submodule "demos/misc/secrets-management"]
	path = demos/misc/secrets-management
	url = git@github.com:lachlan-waugh/secrets-management.git
