html 
  head 
    title="NodeJS Command Injection Example"

  body 
    h1="Jira 2.0"  

    form(action="/" method="GET") 
      input(type="text" name="folder" value=folder) 
      button(type="submit") Submit

    code 
      pre #{output}