<!DOCTYPE html>
<html lang="en">
<head>
    <title>Top Secret</title>
</head>
<body>
    {% block content %}
        {% if success %}
            {{success}}
        {% else %}
            <h1>Add a new ship to the database</h1>
            <form action="/add-ship">
                <label for="name">Name:</label>
                <input type="text" id="name"><br>

                <label for="pwrd">Password:</label>
                <input type="text" id="pwrd"><br>

                <label for="capt">Captain:</label>
                <input type="text" id="capt"><br>

                <input type="submit" value="Submit">
            </form>
        {% endif %}
    {% endblock content %}
</body>
</html>