<!DOCTYPE html>
<html lang="en">
<head>
    <title>ship captain console</title>
</head>
<body>
    {% block content %}
        {% if ship %}
            {{ ship }}
        {% else %}
            <h1>Login to your ship's console</h1>
            <form method="POST" action="/get-ship">
                <label for="name">Name:</label>
                <input type="text" id="name"><br>

                <label for="pwrd">Password:</label>
                <input type="password" id="pwrd"><br>

                <input type="submit" value="Submit"/>
            </form>
        {% endif %}
    {% endblock content %}
</body>
</html>