<html>

<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.colors.min.css" />
    <title>QuoccaCorp</title>
</head>

<body>
    <main class="container">
        <nav>
            <ul>
                <li><strong>QuoccaPickle</strong></li>
            </ul>
            <ul>
                <li><a href="/">home</a></li>
            </ul>
        </nav>

        <article class="pico-background-azure-350">
          Try out our new session cookie format!
        </article>
        <article class="pico-background-green-400">
          You are currently logged in as {{user.username}}
        </article>
    </main>
</body>

</html>
