<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>jokes</title>
		<link rel="stylesheet" href="/style.css">
	</head>

	<body>
		<header>
      <h1>funny jokes</h1>
			<p>haha</p>
		</header>

		<form method="GET">
			<input type="text" name="q" placeholder="search query" autocomplete="off" />
			<input type="submit" value="filter comments" />
		</form>

		{% autoescape false %}
		{% if not query %}
		<h3>Showing all comments:</h3>
		{% else %}
		<h3>Showing comments containing "{{ query }}":</h3>
		{% endif %}
		{% endautoescape %}

		<div id="jokes"></div>

		<script src="/load.js"></script>
		<script src="http://jokes.com:7031/jsonp?q={{ query }}&callback=load"></script>
	</body>
</html>
