<!DOCTYPE html>
{% autoescape false %}
<html>
  <head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.jade.min.css"/>
    <meta charset="utf-8">
    <title>melons funniest joke</title>
  </head>
  <body>
    <main class="container"> 
      <h1>melons funniest joke</h1>

      <article aria-busy="true">Loading jokes...</article>
      
      <script src="/load.js"></script>
      <script src="http://jokes.com:7031/jsonp?q={{ query }}&callback=calculate"></script>
    </main>
  </body>
</html>
{% endautoescape %}
