<!DOCTYPE html>
{% autoescape false %}
<html>
  <head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.jade.min.css"/>
    <meta charset="utf-8">
    <title>melons funny jokes</title>
  </head>
  <body>
    <main class="container"> 
      <h1>melons funny jokes</h1>
      <form method="GET">
        <input type="search" name="q" placeholder="search query" autocomplete="off" />
      </form>

      <h3>Showing all jokes{% if query %} containing "{{ query }}"{% endif %}:</h3> 
      <div id="jokes"></div>

      <script src="/load.js"></script>
      <!-- <script src="http://jokes.com:7031/jsonp?q={{ query }}&callback=load"></script> -->
    </main>
  </body>
</html>
{% endautoescape %}
