<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.jade.min.css"/>
    <meta charset="utf-8">
    <title>secure commenting service</title>
  </head>
  <body>
    <main class="container"> 
      <h1>secure commenting service</h1>
      <form method="GET">
        <input type="search" name="q" placeholder="search query" autocomplete="off" />
      </form>

      <form method="POST" action="/upload" enctype="multipart/form-data">
        <fieldset role="group">
          <input type="file" name="file"/>
          <input type="submit" value="Upload" />
        </fieldset>
      </form>

      {% autoescape false %}
      <h3>Showing all comments{% if query %} containing {{query}}{% endif %}:</h3>
      {% endautoescape %}
    </main>
  </body>
</html>
