waf.{$SITE_DOMAIN}:80 {
  reverse_proxy xss_waf:8000
}

bank.{$SITE_DOMAIN}:80 {
  reverse_proxy csrf_nonce:8000
}

bank_v2.{$SITE_DOMAIN}:80 {
  reverse_proxy csrf_nonce:8001
}

csrf.{$SITE_DOMAIN}:80 {
  reverse_proxy csrf_nonce:8002
}

meta.{$SITE_DOMAIN}:80 {
  reverse_proxy meta_tag:8000
}

headers.{$SITE_DOMAIN}:80 {
  reverse_proxy response_splitting:8000
}

filewriter.{$SITE_DOMAIN}:80 {
  reverse_proxy xss_filewrite:8000
}

jokes.{$SITE_DOMAIN}:80 {
  reverse_proxy jsonp_server:8000
}

jokelist.{$SITE_DOMAIN}:80 {
  reverse_proxy jsonp_client1:8000
}

bestjoke.{$SITE_DOMAIN}:80 {
  reverse_proxy jsonp_client2:8000
}

upload.{$SITE_DOMAIN}:80 {
  reverse_proxy xss_fileupload:8000
}

based.{$SITE_DOMAIN}:80 {
  reverse_proxy base_tag:8000
}

gadgets.{$SITE_DOMAIN}:80 {
  reverse_proxy gadgets:8000
}
