<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.jade.min.css"/>
    <meta charset="utf-8">
    <title>secure commenting service</title>
  </head>
  <body>
    <main class="container"> 
      <h1>secure commenting service</h1>
      <form method="GET">
        <input type="search" name="q" placeholder="search query" autocomplete="off" />
      </form>

      <h3>Showing all comments{% if query %} containing "{{ query }}"{% endif %}:</h3>
      
      <form action="/" method="POST"> 
        <fieldset role="group">
          <input type="text" name="comment" placeholder="comment" autocomplete="off" />
          <input type="submit" value="new comment" />
        </fieldset>
      </form>

      <div class="comments"></div>
    </main>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dompurify/3.0.11/purify.min.js"></script>
    <script>
      {% autoescape false %}{{ comments }}{% endautoescape %}.forEach((comment) => { 
        const a = document.createElement('article');
        a.innerHTML = DOMPurify.sanitize(atob(comment)).toString();
        document.querySelector('.comments').appendChild(a);
      })

      const script = document.createElement('script');
      const config = window.globalConfig || { href: 'script.js' };
      script.src = config.href;
      document.body.appendChild(script);
    </script>
  </body>
</html>
